* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    background-color: #1A202C;
    border-radius: 10%;
    width: 80%;
    height: 70%;
}

.font {
    font-family: 'Dancing Script', cursive;
}

.fontprnc {
    font-family: 'Bangers', cursive;
    ;
}